.navbar_mainNav__jPxsK {
    background-color: #072a38;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    padding: .5rem 0
}

.navbar_mainNav__jPxsK,
.navbar_mainNav_pad__hrUKe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.navbar_mainNav_pad__hrUKe {
    width: 90%;
    height: 100%
}

.navbar_mainNav_pad_logo__D0m3R {
    width: 25%;
    height: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.navbar_mainNav_pad_logo__D0m3R img {
    width: 100%;
    height: 100%
}

.navbar_mainNav_pad_action___1j3c {
    display: none
}

@media screen and (min-width:620px) {
    .navbar_mainNav_pad__hrUKe {
        justify-content: space-between;
        padding: .4rem 0
    }

    .navbar_mainNav_pad_logo__D0m3R {
        width: 7rem;
        height: 4rem;
        flex-direction: row;
        align-items: center;
        justify-content: center
    }

    .navbar_mainNav_pad_logo__D0m3R img {
        width: 100%;
        height: 100%
    }

    .navbar_mainNav_pad_action___1j3c {
        display: block;
        width: 8rem;
        height: 3.5rem;
        background-color: #ff9114;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem
    }

    .navbar_mainNav_pad_action___1j3c button {
        background-color: transparent !important;
        border: none;
        color: #fbfaf8;
        font-size: 1.2rem;
        cursor: pointer
    }
}

.newsletter_footerMain__hbawj {
    width: 100vw;
    padding: 2rem 0;
    background-color: #072a38
}

.newsletter_footerMain__hbawj,
.newsletter_footerMain_cont__lPP8u {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center
}

.newsletter_footerMain_cont__lPP8u {
    width: 100%;
    padding: 1rem 0
}

.newsletter_footerMain_cont_pad__8yn_s {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.newsletter_footerMain_cont_pad__8yn_s h1 {
    text-align: center;
    color: #fbfaf8;
    font-size: 2rem;
    font-weight: 800;
    margin: 0
}

.newsletter_footerMain_cont_pad__8yn_s p {
    text-align: center;
    color: #fbfaf8;
    font-size: .9rem;
    font-weight: 600
}

.newsletter_footerMain_form__3pAOJ {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content
}

.newsletter_footerMain_form_pad__60thl {
    height: 100%
}

.newsletter_footerMain_form_pad__60thl,
.newsletter_footerMain_form_pad_group__jsYN7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.newsletter_footerMain_form_pad_group__jsYN7 input {
    margin-top: 1rem;
    padding: .5rem;
    width: 70%;
    font-size: .9rem;
    border-radius: .6rem;
    outline: none;
    background-color: #40778d;
    border: none;
    color: #fbfaf8;
    font-weight: 300;

    ::placeholder {
        color: #fbfaf8af;
        opacity: 1; /* Firefox */
      }
      
      ::-ms-input-placeholder { /* Edge 12-18 */
        color: #fbfaf8af;
      }

}

.newsletter_footerMain_form_pad_group__jsYN7 p {
    font-size: .6rem;
    width: 70%;
    text-align: center;
    color: #40778d
}

.newsletter_footerMain_form_pad__60thl button {
    margin-top: 2rem;
    font-size: 1.6rem;
    padding: .3rem 1rem;
    border-radius: .8rem;
    border: none;
    background-color: #ff9114;
    color: #fbfaf8;
    cursor: pointer
}

@media screen and (min-width:620px) {
    .newsletter_footerMain__hbawj {
        flex-direction: row;
        justify-content: space-between
    }

    .newsletter_footerMain_cont__lPP8u {
        width: 50%
    }

    .newsletter_footerMain_cont_pad__8yn_s {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .newsletter_footerMain_cont_pad__8yn_s h1 {
        padding: 0;
        text-align: start;
        color: #fbfaf8;
        font-size: 3rem;
        font-weight: 800;
        margin: 0
    }

    .newsletter_footerMain_cont_pad__8yn_s p {
        text-align: start;
        color: #fbfaf8;
        font-size: .9rem;
        font-weight: 600
    }

    .newsletter_footerMain_form__3pAOJ {
        width: 50%
    }

    .newsletter_footerMain_form_pad__60thl p {
        font-size: .5rem;
        width: 70%;
        text-align: center;
        color: #40778d
    }
}

@media screen and (min-width:1000px) {
    .newsletter_footerMain__hbawj {
        flex-direction: row;
        justify-content: space-between
    }

    .newsletter_footerMain_cont__lPP8u {
        width: 50%
    }

    .newsletter_footerMain_cont_pad__8yn_s {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .newsletter_footerMain_cont_pad__8yn_s h1 {
        padding: 0;
        text-align: start;
        color: #fbfaf8;
        font-size: 4rem;
        font-weight: 800;
        margin: 0
    }

    .newsletter_footerMain_cont_pad__8yn_s p {
        text-align: start;
        color: #fbfaf8;
        font-size: .9rem;
        font-weight: 600
    }

    .newsletter_footerMain_form__3pAOJ {
        width: 50%
    }

    .newsletter_footerMain_form_pad__60thl p {
        font-size: .5rem;
        width: 70%;
        text-align: center;
        color: #40778d
    }
}

.service_serviceMain__pLO6N {
    width: 100vw;
    padding: 2rem 0;
    background-color: #fbfaf8
}

.service_serviceMain__pLO6N,
.service_serviceMain_cont__y30Sh {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center
}

.service_serviceMain_cont__y30Sh {
    width: 90%
}

.service_serviceMain_cont_card__abbzR {
    margin-top: 1.5rem;
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #40778d;
    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center
}

.service_serviceMain_cont_card_img__eTR3f {
    width: 100%;
    height: 20rem
}

.service_serviceMain_cont_card_content__6FhWS {
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0 2.5rem
}

.service_serviceMain_cont_card_content__6FhWS h2 {
    margin: 0;
    font-size: 2rem;
    color: #fbfaf8
}

.service_serviceMain_cont_card_content__6FhWS p {
    width: 100%;
    font-size: .8rem;
    font-weight: 600;
    color: #fbfaf8
}

.service_serviceMain_cont_card_content__6FhWS button {
    border: none;
    background-color: #ff9114;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fbfaf8;
    padding: .5rem 1rem;
    cursor: pointer
}

@media screen and (min-width:800px) {
    .service_serviceMain__pLO6N h1 {
        font-size: 2.5rem
    }

    .service_serviceMain_cont__y30Sh {
        width: 90%;
        height: -moz-fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        grid-gap: 8rem;
        gap: 8rem;
        align-items: start;
        justify-content: center
    }

    .service_serviceMain_cont_card_content__6FhWS p {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: #fbfaf8
    }
}

@media screen and (min-width:1200px) {
    .service_serviceMain__pLO6N h1 {
        font-size: 2.5rem
    }

    .service_serviceMain_cont__y30Sh {
        width: 90%;
        height: -moz-fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 6fr);
        grid-gap: 4rem;
        gap: 4rem;
        align-items: start;
        justify-content: center
    }

    .service_serviceMain_cont_card_content__6FhWS p {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: #fbfaf8
    }
}

.about_aboutMain__F1eNe {
    width: 100vw;
    height: 19.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #072a38
}

.about_aboutMain_img__8Qzl_ {
    width: 100%;
    height: 100%;
    background-image: url(https://test.zkaia.com/tempassets/about.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.about_aboutMain_backdrop__n6yIV {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .38)
}

.about_aboutMain_backdrop__n6yIV,
.about_aboutMain_backdrop_pad__fMCyp {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.about_aboutMain_backdrop_pad__fMCyp {
    width: 90%
}

.about_aboutMain_backdrop_pad__fMCyp h1 {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 800;
    color: #fbfaf8;
    text-align: center
}

.about_aboutMain_backdrop_pad__fMCyp p {
    font-size: .8rem;
    font-weight: 600;
    color: #fbfaf8;
    text-align: center
}

@media screen and (min-width:620px) {
    .about_aboutMain__F1eNe {
        width: 100vw;
        min-height: 25rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }

    .about_aboutMain_img__8Qzl_ {
        width: 50%
    }

    .about_aboutMain_backdrop__n6yIV {
        position: relative;
        width: 50%;
        background-color: transparent !important
    }

    .about_aboutMain_backdrop_pad__fMCyp {
        align-items: flex-start
    }

    .about_aboutMain_backdrop_pad__fMCyp h1 {
        font-size: 2.3rem
    }

    .about_aboutMain_backdrop_pad__fMCyp p {
        text-align: start;
        font-size: 1rem;
        font-weight: 400
    }
}

@media screen and (min-width:1000px) {
    .about_aboutMain__F1eNe {
        width: 100vw;
        height: 28rem
    }

    .about_aboutMain_backdrop_pad__fMCyp h1 {
        font-size: 2.3rem
    }

    .about_aboutMain_backdrop_pad__fMCyp p {
        font-size: 1.3rem
    }
}

.hero_heroMain__Dw7tD {
    width: 100vw;
    height: 100vh;
    background-color: #072a38;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero_heroMain_img__g5kqn {
    width: 100%;
    height: 100%;
    background-image: url(https://test.zkaia.com/tempassets/hero_mobile.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.hero_heroMain_backdrop__VjBfK {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .331)
}

.hero_heroMain_backdrop_pad__XcL_v {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.hero_heroMain_backdrop_pad_title__Mm0TK {
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5% 0;
    margin-top: 6rem
}

.hero_heroMain_backdrop_pad_title__Mm0TK h1 {
    font-size: 1rem;
    color: #fbfaf8;
    font-weight: 800
}

.hero_heroMain_backdrop_pad_title__Mm0TK h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: #fbfaf8;
    font-weight: 800
}

.hero_heroMain_backdrop_pad_title__Mm0TK h3 {
    padding: 0;
    margin: 0;
    font-size: .8rem;
    color: #fbfaf8;
    font-weight: 400
}

.hero_heroMain_backdrop_pad_action__iuj7u {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0
}

.hero_heroMain_backdrop_pad_action__iuj7u p {
    padding: 0;
    font-size: 1rem;
    color: #fbfaf8;
    font-weight: 700
}

.hero_heroMain_backdrop_pad_action_icon__dmUed {
    width: 3rem;
    height: 3rem
}

.hero_heroMain_backdrop_pad_action_icon__dmUed svg {
    width: 100%;
    height: 100%;
    fill: #ff9114
}

@media screen and (min-width:620px) {
    .hero_heroMain_img__g5kqn {
        width: 100%;
        height: 100%;
        background-image: url(https://test.zkaia.com/tempassets/hero_web.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK {
        padding: .4rem 0;
        margin-top: 4rem
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h1 {
        font-size: 1.5rem;
        color: #fbfaf8;
        font-weight: 800
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h2 {
        padding: 0;
        margin: 0;
        font-size: 4rem;
        color: #fbfaf8;
        font-weight: 800
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h3 {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        color: #fbfaf8;
        font-weight: 400
    }

    .hero_heroMain_backdrop_pad_action__iuj7u {
        width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0
    }

    .hero_heroMain_backdrop_pad_action__iuj7u p {
        padding: 0;
        font-size: 1.4rem;
        color: #fbfaf8;
        font-weight: 700
    }

    .hero_heroMain_backdrop_pad_action_icon__dmUed {
        width: 3rem;
        height: 3rem
    }

    .hero_heroMain_backdrop_pad_action_icon__dmUed svg {
        width: 100%;
        height: 100%;
        fill: #ff9114
    }
}

@media screen and (min-width:860px) {
    .hero_heroMain_img__g5kqn {
        width: 100%;
        height: 100%;
        background-image: url(https://test.zkaia.com/tempassets/hero_web.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK {
        padding: .4rem 0;
        margin-top: 2rem
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h1 {
        font-size: 1.5rem;
        color: #fbfaf8;
        font-weight: 800
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h2 {
        padding: 0;
        margin: 0;
        font-size: 5.5rem;
        color: #fbfaf8;
        font-weight: 800
    }

    .hero_heroMain_backdrop_pad_title__Mm0TK h3 {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        color: #fbfaf8;
        font-weight: 400
    }

    .hero_heroMain_backdrop_pad_action__iuj7u {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0
    }

    .hero_heroMain_backdrop_pad_action__iuj7u p {
        padding: 0;
        font-size: 1.4rem;
        color: #fbfaf8;
        font-weight: 700
    }

    .hero_heroMain_backdrop_pad_action_icon__dmUed {
        width: 3rem;
        height: 3rem
    }

    .hero_heroMain_backdrop_pad_action_icon__dmUed svg {
        width: 100%;
        height: 100%;
        fill: #ff9114
    }
}